{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}
        Django Container
      {% endblock page_title %}
    </title>
    <!-- Metadata -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static "global.css" %}">
  </head>
  <body>
    {% block layout %}
      <div class="h-screen flex flex-col items-center justify-center p-5">
        <h1 class="text-5xl text-center mb-4">
          This is template <code class="text-lime-700">base.html</code>
        </h1>
        <h2 class="text-4xl text-center">
          Missing block
          <code class="text-red-700">
            {# djlint:off #}
            {% verbatim %}
              {%&nbsp;layout&nbsp;%}
            {% endverbatim %}
            {# djlint:on #}
          </code>
        </h2>
      </div>
    {% endblock layout %}
  </body>
</html>
